


.navbar{
    background-color: pink;
    color: BLACK;
    }

.style-kwu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40%;
}
.kwu{
    display: flex;
    color: rgb(230, 167, 179);
    justify-content: left;
    text-align: center;
    width: 42%;
    margin: auto;
}

.kwulogo{
    display: flex;
    width: 40%;
    justify-content: left;
    
}

.prospekkwu{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    margin-left: 5%;
    font-size: larger;
}